 /* INDEX */
 /* 1. Fonts, Images
 /* 2. Menu and navbar */
 /* 3. Header */
 /* 4. Selection */
 /* 5. Buttons */
 /* 6. Cards */
 /* 7. Images */
 /* 8. Media queries */
 

/* 1. FONTS & IMAGES */

h1 {
	font-size: 70px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 18px;
}

h6 {
	font-size: 16px;
}

.hero-text {
  color: white;
}

.hero2-text {
  color: #dda146;
}

.team-text {
  color: #3a3a3a;
}

.recommend-text {
  font-size: 26;
  color: #3a3a3a;
}

.hero3-text {
  colour: black;
}

 /* 2. MENU & NAVBAR */
 /* Top navigation */
 .topnav {
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    height: 70px;
    display: inline-block;
    color: #dda146;
    text-align: center;
    padding: 17px 17px;
    font-size: 20px;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 18px; 
    text-decoration: none;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    background-color: #dda146;
    color: white;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  } 

  /* 3. HEADER STYLE */
  #header {
    background-color: #fff5f0; /* Background Colour */
    padding: 30px 30px; /* Some padding */
    color: black;
    position: fixed; /* Fixed position - sit on top of the page */
    top: 0;
    width: 100%; /* Full width */
    transition: 0.2s; /* Add a transition effect (when scrolling - and font size is decreased) */
  }

  /* 4. SECTIONS */
  .hero1 {
    background-image: url(../img/bar2.png);
    padding-top: 80px;
    padding-bottom: 50px;
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .hero2 {
    background-image: url(../img/bar1.png);
    padding-top: 80px;
    padding-bottom: 50px;
    height: 700px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .order {
    background-color: #3a3a3a;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .recommend {
    background-color: #fff5f0;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .thanks {
    background-color: #dda146;
    padding-top: 80px;
    padding-bottom: 80px;
    min-height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .info {
    background-color: #fff5f0;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .info2 {
    background-color:#3a3a3a;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 300px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .project1 {
    background-color: #3a3a3a;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .project2 {
    background-color: #dda146;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

  .project3 {
    background-color: #fff5f0;
    padding-top: 80px;
    padding-bottom: 50px;
    min-height: 500px;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }

/* 5. BUTTONS */

  .button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 18px;
  }

  .button1 {
    background-color: #dda146; 
    color: white; 
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 18px;
  }

  .button1:hover {
    background-color: #ddd;
    color: black;
  }

  .button-order {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 18px;
  }
  
  .button2 {
    background-color: #dda146; 
    color: white; 
    }

  .button2:hover {
    background-color: #ddd;
    color: black;
  }
  .rotate-90{
    transform: rotate(90deg);
  }

  .hide {
     max-height: 0 !important;
  }

  .pointerCursor:hover{
    cursor: pointer;
  }

  .show {display: block;}

  /* 6A. CARD STYLING */

  .card-deck {
    min-height: 320px;
    min-width: 400px;
  }

  .card {
    background-color: #3a3a3a;
    padding: 25px 25px, 15px 15px;
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.5s; */
    font-size: 16px;
    height: 110px;
  }

  .card-team {
    background-color: #ddd;
    padding: 25px 25px, 15px 15px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.5);
    transition: 0.5s;
    font-size: 24px;
    min-height: 500px;
    min-width: 350px;
  } 

  .card-team:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.5);
  }

  .card-btn {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  select {
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  .containerProd {
    border: solid;
    border-color: #ddd;
    padding: 10px;
    width: 250px;
    height: 390px;
    display: flex;
    flex: row;
  }

  .containerProd::after {
    content: "";
    display: table;
    clear: both;
  }

  .recommend-text {
    padding-top: 15px;
    padding-bottom:15px;
  }

  .form-control {
    border-radius: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }

  /* 6B SHOPPING CART STYLING */

  #list {
    /* border: solid; */
    /* border-color: #ddd; */
    padding: 10px;
    width: 350px;
    height: 430px;
    display: flex;
    flex: row;
  }

  .items_table{
    float: right;
    color: #ddd;
    
  }

  .table {
    width: 100%;
    padding: 15px;
    border-spacing: 5px;
    background-color: #ddd;

  }

  .tbody {
    width: 100%;
    padding: 5px;
  }

  .th {
    height: 25px;
    padding-bottom: 5px;
  }

  .tr {
    height: 20px;
    padding-bottom: 5px;
  }
  
  .td {
    text-align: right;
    padding: 5px;
    font-size: 16px;
  }

  .td.first {
    text-align: left;
  }


  
  /* 7. IMAGE & OTHER STYLING */

  .img-team{
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    min-width: 280px;
    min-height: 300px;
  }

  .img-project{
    padding-top: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 15px;
    display: block;
    width: 50%;
    min-width: 700px;
    min-height: 500px;
  }

  img {
    max-height: 175px;
    max-width: 175px;
  }

  hr {
    height:7.5px;
    border-width:0;
    color:#d3c5af;
    background-color:#dda146;
    border-radius:12px;
  }


 /* 8. MEDIA QUERIES */
  /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). 
  Show the link that contains should open and close the topnav (.icon) */
 @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  /* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. 
  This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
    .containerProd {
      flex-direction: column;
    }
  }


  
  #section {
    display: block;
  }



/* Test CSS for Product Name */

/* #prodDiv {
  list-style-type: none;
  padding: 0;
  margin: 0;
} */

/* #prodDiv option {
  border: 1px solid #ddd; 
  margin-top: -1px; 
  background-color: #f6f6f6; 
  padding: 12px; 
  text-decoration: none; 
  font-size: 18px; 
  color: black; 
  display: block; 
} */

/* #prodDiv option:hover:not(.header) {
  background-color: #eee; 
} */