<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <!-- Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />

    <!-- Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <!-- d3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>

    <!-- Styles and scripts -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">

    <!-- jQuery and Bootstrap Scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.3/umd/popper.min.js" integrity="sha512-53CQcu9ciJDlqhK7UD8dZZ+TF2PFGZrOngEYM/8qucuQba+a+BXOIRsp9PoMNJI3ZeLMVNIxIfZLbG/CdHI5PA==" crossorigin="anonymous"></script>

    <title>Scikict Bottle Distributors</title>
    <!-- <link rel="shortcut icon" href="favicon.ico" type="image/x-icon"> -->
  </head>
  <body >

<!-- START THE HEADER SECTION -->
    <header>
        <div class="header">
            <div class="topnav" id="myTopnav">
                <a href="/" class="active">Home</a>
                <a href="/about">About the Project</a>
                <a href="/team">Team</a>
                <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
                </a>
                
            </div> 
        </div>
    </header> 

<!-- END THE HEADER SECTION -->

<!-- START HERO IMAGE AND TEXT -->

    <section class="hero1">
        <div class="container">
            <div class="row">
                <div class="hero-text">
                    <div class="col-md-7">
                        <h1>Scikit Iowa Alcohol Distributors</h1>
                        <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">

                        <h2>Creating Memories Together!<br><br></h2>
                        
                        <button onclick="scrollWin()" class="button button1">Order Now</button>
                    </div>
                </div>
            </div>
        </div>
    </section>

<!-- HERO IMAGE AND TEXT END-->

<!-- SECTION 2 - ORDERING -->

<section class="order">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <div class="row">
                    <div class="col-md-6">
                        <h2>Place Your Order Here</h2>
                        <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">

                        <div class="container">
                            <div class="card-deck">
                                <div class="card-btn text-center">
                                <div class="card">
                                    <h5>Customer Name</h5>
                                        <select id="store_number" type="text" onkeyup="myStoreFunction()" placeholder="Store" autocomplete="on">
                                        <div id="storeDiv">
                                            <ul id="storeUL">
                                                {% for s in storeList %}
                                                <option value="{{ s['store_number'] }}">{{ s['store_name'] }}</option>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                        </select>
                                </div>  
            
                        
                                <div class="card">
                                    <h5>Product Category</h5>
                                    <select id="product_category" type="text" onchange="displayAccordingly()" placeholder="Category" autocomplete="on">
                                        <div id="catDiv">
                                            <ul id="catUL">
                                                <option selected></option>
                                                {% for p in prodCatList %}
                                                <option value="{{ p['category'] }}">{{ p['category_name'] }}</option>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </select>
                                </div> 
            
                                <div class="card">
                                    <h5>Product Name</h5>
                                    <select id="product_name" type="text" onkeyup="myProductFunction()" placeholder="Product Name" autocomplete="on" required="required">
                                        <div id="prodDiv">
                                            <ul id="productUL">
                                                <option selected></option>
                                            </ul>
                                        </div>
                                    </select>  
                                </div> 
                                
                                <div class="card">
                                    <h5>Quantity</h5>
                                    <input class="form-control" id="myInputQuantity" type="number" placeholder="Quantity">
                                        <div id="quantity">
                                        </div>
                                </div>
                            </div> 
                            </div>
                        </div>
            
                        <div class="container">
                            <div class="row">
                                <div class="col-md-7">
                                    <!-- <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px"> -->
                                    <button id="submit" type="submit" class="button-order button1">Add to Cart
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- SHOPPING CART -->

                    <div class="col-md-6">
                        <div class="hero-text">
                        <div class="container">
                            <div id="items_table">
                                <h2>Your Shopping List</h2>
                                <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">
                                <h4>
                                <table id=list></table>
                                </h4>
                            </div>
                            <!-- <input type="button" value="Clear" onclick="ClearAll()"> -->
                            <div class="row">
                                <div class="col-md-12">

                                    <button id="submit" type="submit" class="button-order button1" onclick="ClearAll()">Clear Cart
                                    </button>
                                    <!-- <input type="button" value="Checkout"> -->

                                    <button class="button-order button1" value="Checkout">Checkout
                                    </button>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                    <!-- END SHOPPING CART -->


    
                <!-- </div>                -->
            </div>
        </div>
    </div>
</section>


<!-- SECTION 2 - ORDERING END-->

<!-- SECTION 3 - RECOMMENDER -->
<row>
    <section class="recommend">
        <div id="scroll_2">
            <div class="container">
                <div class="row">
                    <div id="recommend-product-head">
                        <div class="recommend-text">
                            <h2>You might like to consider</h2>
                            <br>
                            <h3>These items are recommended based on your product choice.....</h3>
                            <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">
                        </div>

                        <div id="recommend-product" class="row">
                        </div>
                    </div>
                    <div id="recommend-customer-head">
                        <div class="recommend-text">
                            <br>
                            <h3>These items are based on customer choices.....</h3>
                            <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">
                        </div>

                        <div id="recommend-customer" class="row">
                        </div>
                    </div>
                    <br>
                    <div id="recommend-popular-head">
                        <div class="recommend-text">
                            <br>
                            <h3>These are the best selling items.....</h3>
                            <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#dda146;border-radius:12px">
                        </div>

                        <div id="recommend-popular" class="row">
                        </div>
                    
                        <hr>
                        <br> 
                    </div>                   
                </div>
            </div>
        </div>
    </section>
</row>

<!-- SECTION 3 - RECOMMENDER END -->

<!-- SECTION 4 - THANK YOU -->

<section class="thanks">
    <div class="container">
        <div class="row">
            <div class="hero-text">
                <h2>Thank You For Your Order</h2>
                <hr style="height:7.5px;border-width:0;color:#d3c5af;background-color:#3a3a3a;border-radius:12px">
                <p>Please Visit Us Again</p>
            </div>
        </div>
    </div>
</section>

<!-- SECTION 4 - THANK YOU END -->

<!-- FOOTER -->

<footer class="info">
    <div class="container">
        <div class="row">
            <div class="recommend-text">
                <h2>Monash Bootcamp Final Project</h2>
                <h2> Product Recommender</h2>
                <p>Copyright 2020 by Amil Walgamage, Jamie Tan & Tas Tudor </p>
                <br>
                <h3>
                <a href="https://github.com/amilakanishka/ECommerce-Product-Recommender-Using-Machine-Learning/" target="_blank">GitHub</a>
                </h3>
                </div>
        </div>
    </div>
</section>

<!-- FOOTER END-->

    <script type="text/javascript" src="{{ url_for('static', filename='js/logic.js') }}"></script> 
    <script type="text/javascript" src="{{ url_for('static',filename='js/script.js') }}" ></script>

 
   
  </body>  

</html>